<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pasta Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Pasta Detail</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="content">
    <ion-card>
      <img [src]="pastas[index].url" />
      <ion-card-header>
        <ion-card-title>{{pastas[index].name}}</ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>{{pastas[index].description}}</ion-item>
          <ion-item>Price : {{pastas[index].price}}</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
